{% extends "base.html.twig" %}
{% block title %}
	{{TCHOUTCHOU}}
	Home
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %}


{% block body %}


	<main class="main">
		<h1>TCHOU TCHOU BIENVENUE SUR LE SITE DE THOMAS LE TRAIN<h1>
				<div class="first--element" align="center">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/K6Vxvzz3KN0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				{% set username = 'Thomas pas shelby' %}
				{% if username %}
					{{username}} {#affiche le nom d'utilisateur#}
				{% endif %}

			</main>

		{% endblock %}
