{% extends "base.html.twig" %}
{% block title %}{{hell}} Home
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %}


{% block body %}

	
	<main class="main">
		
	</main>

{% endblock %}