{% extends "base.html.twig" %}

{% block title %}
	Thomas
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('profil') }}
{% endblock %}

{% block body %}
	<main class="profil--main">
		
	</main>
{% endblock %}
