{% extends "base.html.twig" %}


{% block title %}
	Thomas
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('profil') }}
{% endblock %}

{% block body %}
	<main class="profil--main">
		<h3>0</h3>
	</main>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('profil') }}
{% endblock %}
